.order-btn{
    margin-top: 12px;
    padding: 7px 15px;
    background: linear-gradient(135deg, #c850c0, #4158d0);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.9);
    color: white;
}