body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #c850c0, #4158d0);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 25px;
    width: 15rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    text-align: center;
  }
  
  .card h2 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .card p {
    font-size: 1em;
  }
  
  .App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }