*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.addTask{
    background-color: blue;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.list{
    text-align: center;
}

.list li{
    list-style: none;
    padding: 10px;
    font-size: 1.5em;
}

.task{
    margin: auto;
    width: 50%;
    margin-top: 10px;
}

.task button{
    padding: 5px 7px;
    margin: 0 5px 0 0;
}

.task button:hover{
    cursor: pointer;
}